@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Open+Sans&family=Oswald:wght@700&family=Poppins:wght@400;600&display=swap');
* {
    background-color: #AFD3E2;
    margin: 0px;
    box-sizing: content-box;
}
hr {
    margin: 7px;
}
h3 {
    background-color: #748B9C;
    width: 17rem;
}
.titleOne {
    font-size: 45px;
}
.titles {
    margin-left: 50px; 
    padding: 15px;
}
.allbody {
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    padding: 7px;
}
